body {
  background-color: white !important;
  font-size: 1rem !important;
  height: 100vh;
}

#root {
  height: 100%;
}

i {
  margin-right: 5px;
}

td {
  max-width: 250px;
}

.navbar {
  /* padding: 15px 10px; */
  background: #fff;
  margin-bottom: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  height: 56px;
}

.nav-link {
  outline: none;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: calc(100% - 61px);
}

.sidebar {
  box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
}

.sidebar .nav-link{
  color: #aaa;
  transition: 0.3s all;
}

.sidebar .nav-link.active {
  color: #000;
}

.sidebar .nav-link:hover{
  color: #000;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  height: 100%;
}

.low-priority {
  color: green;
}

.med-priority {
  color: darkgoldenrod;
}

.high-priority {
  color: red;
}

.click-to-dial-button {
  color: blue;
  cursor: pointer;
}

/* ---------------------------------------------------
  FLEX UI STYLE
----------------------------------------------------- */

.flex-container {
  display: block;
  min-width: 350px;
}

.flex-loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  height: 100%;
}

.Twilio-TaskCanvasHeader h4 {
  margin-bottom: 0;
}

.Twilio-TaskCanvasHeader p {
  margin-bottom: 0;
}

/* ---------------------------------------------------
  MYTOOLS STYLE
----------------------------------------------------- */

.my-tools-container {
  padding: 10px;
  height: 100%;
}

.my-tools-header {
  width: 100%;
}

.my-tools-activity-selector {
  margin-bottom: 15px;
}

.my-tools-main {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.my-tools-idle-panel {
  align-content: center;
  text-align: center;
  width: 100%;
}

.my-tools-idle-panel #idle-message {
  color: darkgreen;
}

.my-tools-idle-panel #offline-message {
  color: darkred;
}

.my-tools-idle-panel #unavailable-message {
  color: darkorange;
}

.my-tools-call-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  height: 85px;
}

.call-control-button {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  align-self: flex-start;
}

.call-control-button:first-of-type {
  margin-left: 0;
}

.call-control-button:last-of-type {
  margin-right: 0;
}

.hangup-button {
  background-color: firebrick;
  color: white;
}

.hangup-button:hover {
  background-color: darkred;
  color: white;
}

.my-tools-wrapping-task {
  align-items: center;
  text-align: center;
  font-weight: 500;
  width: 100%;
  height: 85px;
  margin-bottom: 15px;
}

.my-tools-info-panel {
  font-size: smaller;
  width: 100%;
}

.my-tools-info-panel-divider {
  background-color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-tools-info-panel-divider:first-of-type {
  margin-top: 0;
}

.my-tools-info-panel-row {
  align-items: flex-end;
  display: grid;
  grid-template-columns: 25% auto;
}

.my-tools-info-panel-row-title {
  font-weight: bold;
}
